@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500;700&display=swap");
@import "./base.css";
@import "./layout.css";
@import "./components.css";
@import "./sections.css";
@import "./stars.css";
@import "./projects.css";
@import "./responsive.css";

body {
  margin: 0;
  padding: 0;
  background-color: #05000c;
  color: #fff;
  overflow-x: hidden;
}

.pageRoot {
  position: relative;
  min-height: 100vh;
}
